.App {
  /* text-align: center; */
}

@font-face {
  font-family: 'PierSans';
  font-weight: 400;
  src: local('PierSans'), url(./fonts/PierSans-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'PierSans';
  font-weight: 700;
  src: local('PierSans'), url(./fonts/PierSans-Bold.otf) format('opentype');
}